<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <!-- Main Body-->
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Navbar header -->
      {% include header.html %}

      {{ content }}

    </div>
    <!-- Footer -->
    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ "/static/js/docs.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/static/js/main.js" | prepend: site.baseurl }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ "/static/js/ie10-viewport-bug-workaround.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
